body {
	background-color: #e8b4bc;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
}
h1 { 
color: #3a3238; 
font: monospace;
font-family: "Bree Serif", serif;
font-weight: 600;
font-style: normal;
font-size: 75px;

}

h2 {
	font-size: 50px;
	font-family: "Bree Serif", serif;
	font-weight: 400px;
	color: #6e4555;
	}

h3 {
	font-size: 25px;
	font-family: "Bree Serif", serif;
	font-weight: 300px;
	color: #6e4555;
}
a {
	text-decoration: none;
}

a:link {
	color: d282a6;
}
a:visited {
	color: #3a3238;
}
a:hover {
	color: #f5e3e0;
}
a:active {
	color: #d282a6;
