body {
	margin: 0;
	background-color: blueviolet;
}
h1 {
	margin-left: 25px;
}

.gold {
	background-color: gold;
	width: 100px;
	height: 100px;
	float: left;
}

.black {
	background-color: black;
	width: 100px;
	height: 100px;
	float: left;
}

.board {
	width: 800px;
	margin: 50px auto;
}

/*columns*/

.container {
	width: 1000px;
	margin: 25px auto;

}

header {
	background-color: black;
	margin-bottom: 25px;
	width: 1000px;
	height: 150px;
}

nav{
	background-color: black;
	margin-bottom: 25px;
	width: 1000px;
	height: 50px;
}
.col {
	background-color: black;
	height: 800px;
	width: 300px;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}
.centercol {
	background-color: black;
	height: 800px;
	width: 300px;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	
}

footer {
	background-color: black;
	margin-bottom: 25px;
	margin-top: 850px;
	width: 1000px;
	height: 50px;
}
/* blog*/


.shape1-1, .shape1-3, .shape1-2 {
	margin-right: 50px;
}


.container2 {
	margin-top: 200px;

}

.shape1-1 {
	background-color: black;
	width: 790px;
	height: 600px;
	margin-top: 50px;
	float: left;
}

.shape1-2 {
	background-color: black;
	width: 185px;
	height: 300px;
	margin-top: 50px;
	margin-left: 0px;
	float: left;
}

.shape1-3 {
	background-color: black;
	width: 790px;
	height: 100px;
	float: left;
	margin-top: 10px;
	margin-right: 400px;
}