body {
	margin: 0;
	background-color: blueviolet;
}

.gold {
	background-color: gold;
	width: 100px;
	height: 100px;
	float: left;
}

.black {
	background-color: black;
	width: 100px;
	height: 100px;
	float: left;
}

.board {
	width: 800px;
	margin: 50px auto;
}

/*columns*/

.container {
	width: 1000px;
	margin: 25px auto;

}

header {
	background-color: black;
	margin-bottom: 25px;
	width: 1000px;
	height: 150px;
}

nav{
	background-color: black;
	margin-bottom: 25px;
	width: 1000px;
	height: 50px;
}
.col {
	background-color: black;
	height: 800px;
	width: 300px;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}
.centercol {
	background-color: black;
	height: 800px;
	width: 300px;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	
}

footer {
	background-color: black;
	margin-bottom: 25px;
	margin-top: 850px;
	width: 1000px;
	height: 50px;
}
